# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules_partial
/node_modules_old
/node_modules_broken_*
/node_modules_partial_*
/node_modules*_stale_*
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/.next-check-*/
/.next-build/
/.next*_stale_*
/.next-build_prev_*/
/.app-build/
/.next-demo-build/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.claude/
.letta/
.playwright-mcp/
